{% extends 'base.html' %}

{% block content %}

{% load static %}

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<header>
						<h1>This is {{course.name }} {{lesson.name}} Lesson<br /></h1>

						<p>{{lesson.description}}</p>
						<img src="{{lesson.image}}" alt="">

						<span>Published {{lesson.video }}</span>
					</header>

					<section class="tiles">						

						<iframe width="560" height="315" src="{{lesson.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</section>
				</div>
			</div>

{% endblock %}